// Import page-specific CSS files here.
@import "home";

.cards{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow:1;
  //border: 2px solid #eaecee;
  //padding: 0px;
}

.card img {
  height: 150px;
  width:100%;
  border-radius: 5px;
}

.card {
  padding: 5px;
  margin-top: 20px;
}

.slider{

  height: 400px;
}

.carousel-item img{
  height: 100%;
  width: 100%;
  border-radius: 5px;

}

.carousel-item {
  height: 400px;

}

.pagination {
  width: 100%;
  justify-content: center;
}

