// Import page-specific CSS files here.
@import "home";

.cards{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow:1;
  margin-top: 30px;
  //border: 2px solid #eaecee;
  //padding: 0px;
}

.card img {
  height: 150px;
  width:100%;
  border-radius: 5px;
}

.card {
  padding: 5px;
  margin-top: 130px;
}

.slider{
  height: 570px;
  margin: 0; padding: 0;
  margin-top: -34px;
}

.carousel-item img{
  height: 100%;
  width: 100%;

}

.carousel-item {
  height: 100%;

}

.pagination {
  width: 100%;
  justify-content: center;
}

