<div class="footer">

    <ul class="footer-links-list">
        <li>
          <%= link_to "CGU", "/products " %>
        </li>

        <li>
          <%= link_to "Qui sommes-nous?"%>
        </li>
    </ul>
</div>
