<div class="footer bg-dark">
    <ul class="footer-links-list">
        <li>
          <%= link_to "CGU", "/CGU " %>
        </li>

        <li>
          <%= link_to "Qui sommes-nous?", "/Qui" %>
        </li>
    </ul>
</div>
