<div id="audiotel-header">
<h1> Codes Alchis </h1>

<p>explications...</p>
</div>


<div class="col-10 col-sm-4" id="div-audiotel">
Numeros à appeler:

<div id='display'>
<div class='display'>08 26 230 001</div>
<div><p class='tarifs'>Service 0.50 €/appel <br/> + prix appel</p></div>
</div>


<p>
<form id="valid-code" class="form-inline">
  <input type="text" id="le-champ" class="form-control" placeholder="entrer votre code">
  <input type="submit" id="auiotel-btn" class="btn btn-primary" value="valider">
</form></p>
<p id="message"> </p>

</div>
<!-- <h2>Exemple requette ajax filmes </h2>

<div class="container text-center ">
<form id="search-movies" class="form-inline">
  <input type="text" id="ajax-field" class="form-control" placeholder="find movies">
  <input type="submit" id="ajax-btn" class="btn btn-primary" value="search">
</form>
<ul id="ajaxresults" class="list-inline"> </ul>
</div> -->


<!-- <h2>Exemple requette ajax post pour autocompletion </h2>
<input type="text" id="search"/>


<h2>Exemple creer un objet callback start avec une requette ajax </h2>
<button id="createcallbackstart-btn"> Creer un callbackstart </button>
<p id="feedback"> </p>
 -->
