<h1> page audiotel </h1>


Numeros à appeler: 0826230001
Formule A200
code : "<%= @code %>"
codes: <%= @codes %>

<input id="le-champ"> </input>
<button id="audiotel-btn" > Valider </button>
<div id="message"> </div>
