<h1> page audiotel </h1>

ici la page qui vas s'afficher pour passer des appels

<p> Bonjour <%= current_user.name %> </p>

Numeros à appeler: 0826230001
Formule A200
code : "<%= @code %>"
codes: <%= @codes %>

<input id="le-champ"> </input>
<button id="audiotel-btn" > Valider </button>
<div id="message"> </div>
