
<div class="col-md-6" id="audiotel-header">
<!-- <h1> Codes Alchis </h1> -->

<%= image_tag "Coupons Alchis.png" %>
</div>


<div class="col-10 col-md-6" id="div-audiotel">
<p style="font-weight: bold; color: white">1 appel à 3€ + prix d'appel génère un Alchi-Coupon d'une valeure de 1.55€</p>

<div  id='display'>
<div class='display'>08 99 36 10 20</div>
<div><p class='tarifs'>Service 3 €/appel <br/> + prix appel</p></div>
</div>

<p>
<form id="valid-code" class="form-inline">
  <input type="text" id="le-champ" class="form-control" placeholder="entrez votre code">
  <input type="submit" id="auiotel-btn" class="btn btn-success" value="valider" style="color: white; font-weight: bold">
</form></p>
<p id="message"> </p>

<div class="row col-md-12" style="margin: auto;justify-content: space-around;margin-top: 30px; margin-bottom: 15px;">
<div class="btn-warning audio-btn" style="margin-top: 10px;"><%= link_to "mes infos", "/Userdashboard", class: "dropdown-item" %></div>
<div class="btn-warning audio-btn" style="margin-top: 10px;"><%= link_to "Store", "/", class: "dropdown-item" %></div>
</div>


</div>

