<h3> Qui sommes nous ? </h3>

<h2>  Le site phone alchemist.com est le premier site de remboursement de forfait mobile téléphonique crée.</h2>

<p>Il a été conçu par un groupe d’amis afin de permettre aux internautes d’utiliser leur téléphone pour acheter des contenus digitaux prépayées et ainsi éviter de perdre chaque mois les minutes non utilisées.</p>

<p>Fort de son succès fin 2010 le site c’est professionnalisé afin de proposer un contenu de cartes prépayées digitales achetable par carte bancaire ou via sont téléphone mobile</p>

<h2>Mention légales</h2>

<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique :
Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi 2004-801 du 6 août 2004 relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel) relative à l'informatique, aux fichiers et aux libertés, ce site a fait l'objet d'une déclaration 1512499 auprès de la Commission nationale de l'informatique et des libertés.<p>

<h2>Editeur du site Phonealchemist.com :</h2>

<p>Cteky SAS. Société par Actions Simplifiée, au capital de 6000€.</p>

<p>Président : Cp Interactiv Bv / Pays-Bas</p>
<p>Directeur : Ys Inetractiv Bv / Pays-Bas</p>

<p>Identification Registre de Commerce de St Malo (22)</p>
<p>Numéro de TVA intra-communautaire : </p>
<p>Contact par e-Mail : contact@phonealchemist.com</p>

<p>L'adresse postale :</p>

<p>22 B Grande Rue 22 750 St Jacut-de-la-Mer /France</p>

<h2>Directeur de la publication :</h2>

<p>Gayvota SAS</p>

<p>Hérbergeur du site :</p>

<p>L'hébergement de www.phone alchemist.com est assuré par : heroku </p>


<p>Tel :</p>
<p>Fax :</p>
<p>e-Mail : </p>


<p>Les marque Phone Alchemist est déposée à l'INPI et sont protégées par le doit français. Toute utilisation de nos marques, logos, visuels sans notre accord écrit fera l'objet de poursuites et est passible de sanction pénales.
Les marques GOOGLE  Playstation, XBOX, XBOX LIVE, Steam, Origin... et toutes les marques mentionnées sur le site https://www.phonealchemist.com appartiennent à leurs propriétaires respectifs et sont citées à titre d'identification.</p>

<p>Par la navigation sur le Site et son utilisation, vous reconnaissez avoir pris connaissance et accepter la présente limitation de responsabilité, les mentions légales Phonealchemist.com relatives à la propriété intellectuelle et la Charte de confidentialité Phonealchemist.com.</p>

<p>Les informations et liens contenus sur ce Site sont fournis par Phonealchemist.com à titre d’information uniquement. </p>

<p>Le Site peut contenir des liens vers des sites Internet tiers que Phonealchemist.com ne contrôle pas. Phonealchemist.com ne prend aucun engagement au regard du contenu de ces sites Internet tiers dont elle n’est aucunement responsable.</p>

<p>Le Site peut contenir certaines erreurs techniques ou certaines erreurs typographiques. </p>

<p>Phonealchemist.com se réserve le droit de mettre à jour, d’améliorer et/ou de modifier les informations et/ou les produits décrits sur le Site, à tout moment et sans préavis. Phonealchemist.com ne garantit pas l’exactitude et l’exhaustivité des informations contenues sur le Site.</p>

<p>Phonealchemist.com ne sera, en aucun cas, responsable de tout dommage direct, indirect, incident, par ricochet ou tout autre dommage quel qu’il soit, y compris et sans limitation : de tout dommage dû (i) à la perte d’usage, de données, de profits ou de chances, due ou liée à l’utilisation ou l’efficacité du Site, à la lenteur ou l’impossibilité d’utilisation du Site, (ii) à tout(e) information, logiciel, produit, service et ses accessoires, graphiques, messages ou transactions acquis, obtenus, reçus ou effectués par l’intermédiaire du Site ou (iii) à toute utilisation du Site, quelque soit le fondement de la responsabilité recherchée – contractuelle ou autre.</p>

<p>Cette limitation de responsabilité s’applique à tout dommage ou préjudice causé par erreur, omission, effacement, défaut, interruption, échec, retard d’opération ou de transmission, par un virus, par un dysfonctionnement des lignes de communication, par vol, destruction, accès non autorisé, la modification ou l’utilisation des informations.</p>

<p>Vous renoncez à toute action à notre encontre et vous engagez à nous indemniser, de tout préjudice découlant d’une action engagée contre nous par un tiers sur la base de votre utilisation du Site.</p>


<h2>COOKIES</h2>

<p>Un cookie est un petit fichier envoyé avec les pages de ce site web et stocké sur le disque dur de votre ordinateur. Les informations qui y sont stockées peuvent être renvoyées à nos serveurs lors d’une visite ultérieure.</p>

<p>Les cookies peuvent avoir différentes finalités. On peut faire une distinction entre les cookies fonctionnels, analytiques et de suivi. Les cookies fonctionnels sont nécessaires au bon fonctionnement d’un site web, par exemple, la mémorisation d’un identifiant ou d’un paramètre linguistique. Les cookies analytiques peuvent être utilisés à des fins statistiques. Les cookies de suivi permettent de suivre votre comportement sur un site web, afin de fournir une expérience utilisateur optimale. Une distinction peut également être faite entre les cookies propriétaires et les cookies tiers. Les cookies propriétaires sont placés et lus uniquement par le site web que vous visitez, tandis que les cookies de tiers peuvent être lus par une autre partie. </p>

<h3>Pourquoi utilisons-nous des cookies ?</h3>

<p>L’utilisation de cookies est très importante pour le fonctionnement de notre site web, mais les cookies dont vous ne voyez pas immédiatement l’effet sont également très importants. Grâce à l’utilisation de cookies, nous pouvons améliorer le site web et le rendre plus convivial, en mémorisant par exemple des choix techniques tels que le choix de la langue, un identifiant ou les détails de votre carte d’achat. Les informations que nous collectons à l’aide de cookies nous aident également à vous montrer des produits spécifiques que nous estimons susceptibles de vous intéresser.</p>

<h3>Cookies fonctionnels</h3>

<p>Ce sont des cookies dont nous avons besoin pour que le site web fonctionne correctement ou qui facilitent votre utilisation de notre site web, comme ceux qui servent au stockage du contenu de votre panier ou à la fermeture de la notification de cookies.</p>


<h3>Cookies analytiques</h3>

<p>Cela fait en sorte qu’un cookie anonyme est généré chaque fois que vous visitez un site web. Ces cookies savent si vous avez déjà visité le site ou non. </p>



<h3>Cookies de suivi</h3>

<P>Nos annonceurs placent des cookies de suivi. Ils utilisent ces cookies pour garder une trace des pages que vous visitez dans leur réseau, afin de créer un profil de votre comportement de navigation en ligne. Ce profil est également construit sur la base d’informations comparables reçues lors de votre visite sur d’autres sites web à partir de leur réseau. Ce profil n’est pas associé à votre nom, adresse, e-mail, ni à autres données à caractère personnel.</P>


<h3>Blocage des cookies</h3>

<p>Lorsque vous visitez notre site Web, nous vous conseillons d’activer les cookies sur votre appareil. Dans le cas contraire, nous ne pouvons pas vous garantir une visite dénuée de problèmes sur notre site web et vous pourriez ne pas être en mesure d’utiliser tous nos services. Si vous préférez néanmoins limiter, bloquer ou supprimer les cookies de votre appareil, vous pouvez le faire. La manière de désactiver les cookies dépend du navigateur internet utilisé. </p>

<p>Vous trouverez des informations sur la façon dont vous pouvez désactiver les cookies ou les supprimer pour chaque navigateur sur :</p>
<ul>
<li> Chrome;</li>
<li>Internet Explorer;</li>
<li>Firefox;</li>
<li>Safari</li>
</ul>

<h2>Contact</h2>

<p>Dans notre Déclaration de confidentialité, vous trouverez plus d’informations sur vos droits. Si vous avez des questions ou des commentaires concernant les cookies, veuillez nous contacter via contact@cteky.com</p>

<h2>Modifications</h2>

<p>De temps en temps, nous pouvons être amenés à modifier cette déclaration de cookies. Nous vous conseillons de revenir ici régulièrement pour vérifier s’il y a des modifications. Dernière mise à jour : 01/01/2021</p>

<h2>>Politique de traitement des données personnelles applicable aux contacts, clients, prospects, utilisateurs de services en ligne</h2>

<p>La politique énoncée ci-après s’applique aux traitements de données personnelles effectués par CTEKY SAS pour le compte du site www.phonealchemist.com</p>

<h3>1 – Dispositions générales</h3>

<p>Les dispositions qui suivent concernent tous les traitements de données personnelles effectués par le responsable du traitement, sauf mention contraire dans les dispositions spécifiques.</p>

<p>> Cadre juridique – conformité au RGPD et à la loi française</p>

<p>Le responsable du traitement déclare qu’il effectue des traitements de données personnelles conformément au règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016, relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données (ci-après désigné le RGPD) et à loi française n° 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés (modifiée).</p>

<p>> Responsable du traitement et autres intervenants</p>

<p>Le responsable du traitement est identifié ci-dessus.</p>
<p>Ses coordonnées sont : Cteky SAS   22 B Grande Rue 22750 St Jacut de la Mer / France  Email : contact@cteky.com</p>


<p>> Destinataires des données à caractère personnel</p>

<p>Les destinataires//catégories de destinataires des données sont CTEKY SAS et son personnel</p>

<p>> Transfert de données</p>

<p>Le responsable du traitement n’a pas  l’intention d’effectuer un transfert de données à caractère personnel vers un pays tiers ou à une organisation internationale.</p>

<p>> Durée de conservation des données à caractère personnel</p>

<p>Les données seront conservées pendant une durée de 3 ans à compter de leur collecte</p>

<p>> Droits de la personne dont les données sont collectées</p>

<p>La personne dont les données personnelles sont collectées a le droit :</p>
<ul>
<li> de demander au responsable du traitement l’accès aux données à caractère personnel, la rectification ou l’effacement de celles-ci, ou une limitation du traitement relatif à la personne concernée,</li>
<li>de s’opposer au traitement,</li>
<li> à la portabilité de ses données,</li>
<li> d’introduire une réclamation auprès d’une autorité de contrôle,</li>
<li> de retirer son consentement à tout moment, sans porter atteinte à la licéité du traitement fondé sur le consentement effectué avant le retrait de celui-ci, ce droit existant exclusivement lorsque le traitement est fondé sur l’article 6, paragraphe 1, point a), ou sur l’article 9, paragraphe 2, point a) du RGPD, c’est-à-dire sur le consentement de la personne concernée au traitement de ses données à caractère personnel pour une ou plusieurs finalités spécifiques.</li>
</ul>

<p>> Prise de décision automatisée – profilage

Sauf mention contraire dans les dispositions spécifiques, aucun profilage ne sera réalisé et plus généralement aucune décision automatisée ne sera prise sur la base des données collectées .</p>

<h3>2 – Dispositions spécifiques</h3>

<p>Les dispositions qui suivent sont spécifiques à chaque type de traitement de données personnelles.</p>

<p>> Gestion de la relation avec nos contacts et prospects</p>

<p>Données personnelles traitées – Nous traitons les données personnelles suivantes : civilité, prénom, nom, coordonnées téléphoniques, adresse électronique, adresse postale, profession</p>

<p>Finalités – Le traitement de données personnelles est destiné à la gestion de la relation avec nos contacts et prospects.</p>

<p>En particulier, ce traitement tend à : communiquer à la personne concernée des informations sur les actualités de notre organisation, nos produits et nos services.</p>
<p>Base juridique – Ce traitement de données personnelles est fondé sur le consentement de la personne concernée (article 6, paragraphe 1, point a) du RGPD). La demande de données a un caractère contractuel. La personne concernée n’est pas tenue de fournir ces données. Si la personne concernée ne fournit pas les données ou retire son consentement au traitement de données, elle ne pourra pas recevoir d’information sur les actualités de notre organisation, nos produits et nos services</p>

<p>> Procédure d’acceptation de nos clients</p>

<p>Données personnelles traitées – Nous traitons les données suivantes : civilité, prénom, nom, coordonnées téléphoniques, adresse électronique, adresse postale, profession, organisation (société, entreprise ou autre), fonctions, si applicable pourcentage de détention de société, date et lieu de naissance, nationalité, document officiel d’identité en cours de validité (nature, date et lieu de délivrance, nom et qualité de l’autorité ou de la personne qui a délivré le document et, le cas échéant, l’a authentifié), produit ou service demandé, canal de distribution, conditions de transaction, territoire d’origine des fonds, territoire de destination des produits, identité du bénéficiaire effectif, éventuels risques particuliers (au sens de l’article L. 561-10 2° du code monétaire et financier)</p>

<p>Finalités – Ce traitement de données est destiné à satisfaire à nos obligations de vigilance à l’égard de la clientèle, conformément au droit français, notamment aux articles L. 561-4-1 et R. 561-5 du code monétaire et financier.</p>

<p>Base juridique – Ce traitement est nécessaire au respect des obligations légales auxquelles le responsable du traitement est soumis. Il est fondé sur l’article 6, paragraphe 1, point c) du RGPD. La demande de données conditionne l’établissement d’une relation d’affaires, conformément aux dispositions législatives et réglementaires applicables. La personne concernée est tenue de fournir ces données si elle souhaite l’établissement de cette relation. Si la personne concernée ne fournit pas les données, nous ne pourrons pas poursuivre de relations d’affaires avec elle.</p>

<p>> Gestion de la relation avec nos clients</p>

<p>Données personnelles traitées – Nous traitons les données personnelles suivantes : civilité, prénom, nom, coordonnées téléphoniques, adresse électronique, adresse postale, profession, date de naissance, nationalité, produit ou service acheté, prix d’achat, remise éventuelle, éventuelle offre promotionnelle, date et lieu d’achat, lieu de livraison, canal de distribution, modalités de paiement, informations relatives au paiement.</p>

<p>Finalités – Le traitement de données personnelles est destiné à la gestion de la relation avec nos clients. En particulier, ce traitement tend à : exécuter les mesures précontracutelles prises à la demande de la personne concernée, exécuter le contrat auquel la personne concernée est partie, respecter nos obligations légales, fiscales et comptables.</p>

<P>Base juridique – Ce traitement est nécessaire à l’exécution d’un contrat auquel la personne concernée est partie ou à l’exécution de mesures précontractuelles prises à la demande de celle-ci. Il est fondé sur l’article 6, paragraphe 1, point b) du RGPD. La demande de données a un caractère contractuel. La personne concernée est tenue de fournir ces données si elle souhaite bénéficier de nos produits ou de nos services. Si la personne concernée ne fournit pas les données, elle ne pourra pas : devenir cliente, acquérir nos produits ou bénéficier de nos services.</P>

<p>> Exécution des commandes passées sur notre site Internet</p>

<P>Données personnelles traitées – Nous traitons les données personnelles suivantes : civilité, prénom, nom, coordonnées téléphoniques, adresse électronique, adresse postale, lieu de livraison, modalités de paiement, informations relatives au paiement.</P>

<p>Finalités – Le traitement est destiné à l’exécution des commandes passées sur notre site Internet et à la gestion de la relation avec nos clients.</p>

<p>Base juridique – Ce traitement est nécessaire à l’exécution de mesures précontractuelles prises à votre demande et à l’exécution du contrat conclu entre nous. Il est fondé sur l’article 6, paragraphe 1, point b) du RGPD. La demande de données conditionne la conclusion du contrat. Elle a un caractère contractuel. La personne concernée est tenue de fournir les données. À défaut, elle ne pourra pas passer de commande sur notre site.</p>

<p>> Analyse et amélioration de nos produits et services</p>

<p>Données personnelles traitées – Nous traitons les données suivantes : Civiliét , nom , prénom , adresse, numéro d téléphone , adresse email, adresse IP</p>
<p>Finalités – Ce traitement est utilisé à des fins d’analyse et d’étude statistique de l’utilisation de notre site, nos produits et services.</p>

<p>Base juridique – Le traitement est nécessaire aux fins des intérêts légitimes que nous poursuivons, consistant à améliorer et optimiser les produits et services. Il est fondé sur l’article 6, paragraphe 1, point f) du RGPD. La demande de données a un caractère contractuel. La personne concernée n’est pas tenue de fournir ces données et elle peut s’opposer à tout moment à leur traitement.</p>

<p>> Utilisation de Google Analytics </p>

<p>Données personnelles traitées – Google traite les données mentionnées dans sa politique de confidentialité (https://support.google.com/analytics/answer/6004245?hl=fr / https://policies.google.com/privacy?hl=fr#infocollect). Ces données comprennent notamment l’adresse IP des appareils utilisés pour consulter le site.
Finalités – Ce traitement est utilisé à des fins d’analyse et d’étude statistique de l’utilisation de notre site.
Base juridique – Le traitement est nécessaire aux fins des intérêts légitimes que nous poursuivons, consistant à améliorer et optimiser notre site Internet au bénéfice des utilisateurs. Il est fondé sur l’article 6, paragraphe 1, point f) du RGPD. La demande de données a un caractère contractuel. La personne concernée n’est pas tenue de fournir ces données et elle peut s’opposer à tout moment à leur traitement. Pour empêcher la collecte de données relatives à son utilisation du site et le traitement de ces données par Google, la personne concernée doit suivre les indications de Google : http://tools.google.com/dlpage/gaoptout.</p>

<p>> Messages marketing et publicitaires</p>

<p>Données personnelles traitées – Nous traitons les données suivantes : nom, prénom, informations sur les messages ouverts et les liens suivis (y compris la date et l’horaire de la consultation)</p>

<p>Finalités – Le traitement est destiné à améliorer notre communication et à vous adresser des contenus pertinents à des moments opportuns</p>

<p>Prise de décision automatisée – profilage – Des décisions automatisées seront prises sur la base des données collectées.</p>

<p>Base juridique – Le traitement repose sur le consentement de la personne concernée (article 6, paragraphe 1, point a) du RGPD) et est nécessaire aux fins des intérêts légitimes que nous poursuivons, consistant à améliorer notre communication et à éviter d’adresser des communications inopportunes (article 6, paragraphe 1, point f) du RGPD). La demande de données a un caractère contractuel. La personne concernée n’est pas tenue de fournir ces données et elle peut s’opposer à tout moment à leur traitement. Si la personne concernée ne fournit pas les données ou retire son consentement au traitement de données, elle ne pourra pas recevoir des communications adaptées</p>

<p>> Sécurité et prévention des activités illicites</p>

<p>Données personnelles traitées – Nous traitons les données suivantes : nom ,numéro de telephone adresse ip, adresse email et géolocalisation</p>

<p>Finalités – Le traitement est destiné à assurer la sécurité de nos produits et services et à prévenir les activités illicites en lien avec nos produits et services.</p>
<p>Base juridique – Ce traitement est nécessaire au respect des obligations légales auxquelles le responsable du traitement est soumis (article 6, paragraphe 1, point c) du RGPD) et il est nécessaire aux fins des intérêts légitimes que nous poursuivons, consistant à assurer la sécurité de nos produits et de nos services et à prévenir les activités illicites (article 6, paragraphe 1, point f) du RGPD). La demande de données est conforme aux dispositions législatives et réglementaires applicables. La personne concernée est tenue de fournir ces données si elle souhaite bénéficier de nos produits et services. Si la personne concernée ne fournit pas les données, elle ne pourra pas se connecter sur le site www.phonealchemist.com</p>
