.navbar {
  position: absolute;
        top: 0;
        left: 0;
        right: 0;
position:fixed;
z-index:2;
//border-bottom: solid #eaecee 1px;
}

#navbarToggleExternalContent {
  margin-top: 70px;
  position: absolute;
        top: 0;
        left: 0;
        right: 0;
position:fixed;
z-index:3;
color: white;
}

.headernavbar{
color: white;

}

.headernavbarelement{
  margin: auto;
}

.navbarcol {
  height: 200px;
  margin: auto;
  text-align: center;

}

.navbarcol li {
  list-style: none;
}

.navbarcol a {
  list-style: none;
  color: white;
}

img {
  height: 60px;
}

.audio-btn {
  border-radius: 50px;
  width: 200px;



}

.audio-btn a {
  color: white;
  font-weight: bold;
  font-size: 1.2em;
}

.audio-btn img {
  height:25px;
  margin-right: 10px;
  margin-top: -5px;
}

.icon-white {color: white}
