.navbar {
  position: absolute;
        top: 0;
        left: 0;
        right: 0;
position:fixed;
z-index:1;
//border-bottom: solid #eaecee 1px;
}

.columns {

      columns: 2;
    }

img {
  height: 60px;
}
