// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;

    border-left-width: 0;
}

// les 12 lignes ci dessous, servent simplement a fixer le footer en bas de page :-)
html, body {
  height: 100%;
  margin: 0; padding: 0;
}
body {
  display : table;
  width: 100%;
}
.foot {
  display : table-row;
  height: 35px; /* à titre d'exemple */
}


.bloc-photo {

  margin-left: -15px;
}


.yield {
  margin-top: 90px;
}
.pagination {

    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}


