// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;

    border-left-width: 0;
}

// les 12 lignes ci dessous, servent simplement a fixer le footer en bas de page :-)
html, body {
  height: 100%;
  margin: 0; padding: 0;
}


body {
  display : table;
  width: 100%;
}

.foot {
  display : table-row;
  height: 35px; /* à titre d'exemple */
}

// reglages du design de la show de product



.row2 {
  height: 450px;

}

.bloc-photo {
  height: 100%;
  width: 60%;
}

.bloc-photo img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.bloc-info {
  height: 100%;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.bloc-info h2 {
  font-size: 8rem;
}

.btn-achat {
  width: 100%;
}

.conditions {
  font-weight: bold;
  color: yellowgreen;
  height: 1rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row3 {
  width: 100%;
  margin-top: 30px;
  border-top: solid 1px black;
  margin-bottom: 50px;

}

.cardsshow {
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  margin: auto;
}

.description {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 6.5em;
  line-height: 1.3em;
}


.card img{
  height: 140px;
}

.yield {
  margin-top: 90px;

}
.pagination {

    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}
