// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;

    border-left-width: 0;
}

// les 12 lignes ci dessous, servent simplement a fixer le footer en bas de page :-)
html, body {
  height: 100%;
  margin: 0; padding: 0;
}


body {
  display : table;
  width: 100%;
}

.foot {
  display : table-row;
  height: 35px; /* à titre d'exemple */
}

// reglages du design de la show de product


.row2 {
  height: 450px;

}

.bloc-photo {
  height: 100%;
  width: 60%;
}

.bloc-photo img {
  width: 100%;
  height: 450px;
  border-radius: 10px;
}

.bloc-info {
  height: 100%;
  width: 40%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
}

.bloc-info h2 {
  font-size: 8rem;
}

.btn-achat {
  width: 100%;
}

.conditions {
  font-weight: bold;
  color: yellowgreen;
  height: 1rem;
}

.subtitle {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.row3 {
  width: 100%;
  margin-top: 30px;
  border-top: solid 1px black;
  margin-bottom: 50px;

}

.cardsshow {
  display: flex;
  flex-wrap: wrap;
  flex-grow:1;
  margin: auto;

}

.description {
  display: block;/* or inline-block */
  overflow: hidden;
  max-height: 6.5em;
  line-height: 1.3em;
}


.card img{
  height: 140px;
  width:100%;
  border-radius: 10px;
}

.card {
  padding: 10px;
  margin: 10px;
  width: 350px;
  height: 280px;
  margin-top: 20px;
  border-color: white;
}

.yield {
  margin-top: 90px;

}
.pagination {

    .first{
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page{
        padding : 0;
        float: none;
        border: none;
    }
    .next{
        padding : 0;
        float: none;
        border: none;
    }
    .last{
        padding : 0;
        float: none;
        border: none;
    }
}

//index categories ( et un peu index zones aussi)

.container1 {
margin: auto;
}

.cardcategorie {
width: 100%;
border: 1px solid black;
padding: 10px;
height: 170px;
margin-bottom: 30px;
}

.cardcategorie img {
height: 100%;

}


// Userdashboard

.userdata {
  border: 1px solid black;
  width: 100%;
  height: 300px;
}

.cardorder {
  border: 1px solid black;

  height: 150px;
}

//code index

.codesindex p {
  margin: 20px;
}


// payment new

.paymentrow {

  margin: auto;
}

#pay-col-1 {

  width: 50%;
}

#pay-col-1 img {
  width: 70%;
  margin-top: 25px;
  height: 100%;
}

#pay-col-1 form {
  justify-content: center;
  margin-top: 20px;
}

#pay-col-1 input {
  width: 40%;
}

#rappel-codes-user {
  background-color: #bdb8b0;
  width: 80%;
  margin: auto;
  margin-top: 20px;
  border-radius: 2px;
}

#rappel-codes-user h5 {


}

#user-code-list ul {
  list-style-type: none;
  text-align: left;
}

#pay-col-2 {
  width: 50%;
}

#pricetable {
  width: 80%;
  margin: auto;
  background-color: #bdb8b0;
}

#pricetable ul {
  list-style-type: none;
  text-align: left;
}



//page audiotel

#div-audiotel {
background-color: grey;
text-align: center;
border-radius: 2px;
margin: auto;
padding: 10px;
}

#div-audiotel form {
  display: inline-block;
  text-align: center;
}

#audiotel-header {
  text-align: center;
}

#display {
    margin: auto;
    background-color: #fff;
    width: 445px;
    height: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    // margin-left: 10px;
    display: block;
    border: 1px solid gray;
    position: relative;

}

#display div {
    float: left;
    width: 200px;
    background-color: #a50f78;
    font-size: 15px;
    color: #fff;
    position: relative;
    height: 47px;
    margin-top: -4px;
}

#display div p {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 20px;
    line-height: 18px;
    padding-top: 5px;
}

#display div:first-child {
    width: 220px;
    background-color: #fff;
    font-size: 30px;
    height: 35px;
    color: #a50f78;
    padding-left: 10px;
    margin-top: 1px;
}

#display div:last-child::after {
    left: -1px;
    top: 15px;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border: 9px solid rgba(255, 255, 255, 0);
    border-left-color: rgb(255, 255, 255);
}
